.agenda_container{
    background-color: #EBECF0;
    height: 489px;
}

.block{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.block-left{
order: 1;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
height: 600px;
}
.block-right{
order: 2;
display: flex;
  flex-direction: column;
  padding-top:20px ;
  justify-content: space-around;
  align-items: center;
background-color: red;
width: 30%;
color: white;
height: 600px;
}
.block-right h1{
    color: white;
}
p{
    color: white;

}
.time{
    width: 30%;
}
mat-divider{
    color: white;
    background-color: white;
}
mat-list{
    width: 90%;
}
mat-list-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.block-left mat-calendar{
    width: 500px;
    height: 500px;
    margin: 20px;
}


.agenda_wrapper{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {

    .block{
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .block-left mat-calendar{
        width: 300px;
        height: 300px;
        margin: 20px;
    }
    .block-left{
        order: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 400px;
        }

    .block-right{
        order: 2;
        display: flex;
            flex-direction: column;
            padding-top:20px ;
            justify-content: space-around;
            align-items: center;
        background-color: red;
        width: 342px;
        color: white;
        height: 600px;
        }
        
}