<div  class="primary_body mb-5">
<div class="home_container">
  <section class="section_heading mb-3">
    <div class="heading_wrapper container-fluid g-0">
        <div class="row g-0">
            <div class="col-md-6">
                <div class="row g-0 justify-content-center">
                    <div class="col-auto">
                        <div class="img_wrapper">
                                    <img class="heading_img"  [defaultImage]="'assets/cpnimages/home/44.png'" 
                                    [lazyLoad]="'assets/cpnimages/home/44.png'" alt="" style="margin-top: -76px;margin-left: -8px;">
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-6 p-3">
                <div class="row g-0 justify-content-start">
                    <div class="col-md-auto">
                                <h2 class="title_heading">TPE - PME</h2>
                                <h4 class="desc_heading">vos subventions numérique sans conditions </h4>
                                <div class="search_bloc">
                                    <form class="search">
                                        <input class="search__input" placeholder="Quel type de subvention souhaitez vous" 
                                        >
                                    </form>
                                </div>
                                <h4 class="desc_heading" style="margin-top:100px ;">Nous vous donnons l’accès au financement sans conditions.</h4>
                    </div>
                </div>

                <div class="carre">
                    <div class="row">
                        <div class="col" style="display: initial;flex-direction: row;padding: 8px;">
                            <img src="assets/cpnimages/home/I.png" style="width: 10%; margin: 0 0 0 30px;" alt="">
                            <span style="margin-left: 4px;font-size: 13px;">Followers</span>
                            <h4 style="text-align: center; margin: 0 90px 0 0;">{{ follow }}K</h4>
                            <p style="text-align: center;font-size: 12px;margin: 0 0px 0 -45px;"><a style="color:#00FF00;">2.1%</a>vs last 7 days</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <app-notre-succes></app-notre-succes>

   <app-side-bar></app-side-bar>

<section class="container text-bloc g-0 mb-5">

  <div class="row block1">
      <div class="col-md-8">
          <div class="container px-4 block1_part1">
              <ul class="text_body">

                  <h1 style="color:#111d5e"> Pour quoi collaborer avec le <span class="underline"> CPN ? </span></h1>
              </ul>
              <p width="device-width"><strong style="font-size: 40px;color:#111d5e">.</strong> Le CPN est un acteur majeur dans la transition digital des entreprises
                  nous subventionnons elle accompagne toutes les remboursements offerts par <a href="#">Les régions de France</a></p>
              <p width="device-width"><strong style="font-size: 40px;color:#111d5e">.</strong> Le CPN est un acteur majeur dans la transition digital des entreprises
                  nous subventionnons elle accompagne toutes les remboursements offerts par <a href="#">Les régions de France</a></p>


          </div>
      </div>
      <div class="col-md-4 block1_part2">
          <div class="card cards">
              <div class="card-body">

                  <img style="margin-left: 25%;" src="assets/cpnimages/home/deal.png" alt="collaboration.png">
                  <br><br><br><br>
                  <h6 class="card-subtitle mb-2 text-muted text-center">Le CPN est un acteur majeur dans la transition digitale des entreprises... </h6><br><br><br>
                  <a href="#" class="card-link">En savoir plus</a>
              </div>
          </div>
      </div>
  
  </div>
</section>
<br>
<br>


  <section class=" container text-bloc g-0 mb-5">
      <div class="container px-4">
          <ul style="margin-left: 15px;" class="text_body">

              <h1 style="margin-top: -75px;margin-left: -17px;color:#111d5e"> Que ce que <span class="underline"> CPN ? </span></h1>
          </ul>
          <p width="device-width"><strong style="font-size: 40px;color:#111d5e">.</strong> Le CPN est un cabinet international actif sur 3 continents, en Afrique, en Amérique du Nord et en Europe.</p>
          <p width="device-width"><strong style="font-size: 40px;color:#111d5e">.</strong> Le CPN soutient la digitalisation en vous donnant l’accès à un réseau d’entreprise de votre région, ainsi que des subventions pour financer tout projet de 
            développement informatique pour votre entreprise.</p>
          <p width="device-width"><strong style="font-size: 40px;color:#111d5e;">.</strong> Les conseillers du CPN vous accompagnent auprès d’agences de développement informatique et des agences de marketing désignées et garanties, pour vous 
             aider à augmenter votre chiffre d’affaire en ligne afin de simplifier et de moderniser votre entreprise.</p>
     </div>
  </section>

<section>
<section class="divider g-0 mb-5">
    <div class="container px-4">
        <span class="divider_ligne"></span>
    </div>
</section>

      <div class="container_box d-flex justify-content-center" >


          <div class="card cards">
              <div class="card-body">
                  <h1 class="card-title num-card" style="font-size: 50px;">1.</h1>
                 
                  <img  style="width: 50px; margin-left: 35%;"src="assets/cpnimages/home/person.png" alt="card1.png">
                  <br> <br> <br>
                  <h6 class="card-subtitle mb-2 text-muted text-center">Comment le CPN intervient-t-il auprés des entreprises.</h6>
                  <br>
                  <p class="card-text text-center">Le CPN Favorise la transition digitale, nos 
                    subventions sont calculées par rapport...
                    </p>
                    <br>
                  <a href="#" class="card-link" >En savoir plus </a>
              </div>
          </div>


          <div class="card cards">
              <div class="card-body">
                  <h5 class="card-title num-card"  style="font-size: 50px;">2.</h5>
                  
                  <img style="width: 60px; margin-left: 35%;" src="assets/cpnimages/home/circl.png" alt="card2.png">
                  <br> <br> <br>
                  <h6 class="card-subtitle mb-2 text-muted text-center">À quel niveau le CPN intervient-t-il ?</h6>  <br>
                  <p class="card-text text-center">Le CPN intervient avec vous simplement et 
                    rapidement il vous fournit une analyse 
                    gratuite...</p> <br>
                  <br>
                  <a href="#" class="card-link">En savoir plus</a>
              </div>
          </div>

      </div>


      <div class="container_box d-flex justify-content-center">

          <div class="card cards">
              <div class="card-body">
                  <h5 class="card-title num-card"  style="font-size: 50px;">3.</h5>  
               <img style="width: 60px; margin-left: 35%;"  src="assets/cpnimages/home/chart.png" alt="card3.png"> <br> <br> <br>
                  <h6 class="card-subtitle mb-2 text-muted text-center">Quel type de projet le CPN subventionne-t-il ?</h6> <br>
                  <p class="card-text text-center">Après l’étude de votre projet et le rendez-vous 
                    avec l’un de nos Experts Numériques...</p><br><br>
                  <a href="#" class="card-link">En savoir plus</a>

              </div>
          </div>
          <div class="card cards">
              <div class="card-body">

                  <h5 class="card-title num-card"  style="font-size: 50px;">4.</h5>
                  
                  <img style="width: 60px; margin-left: 35%;" src="assets/cpnimages/home/moneyR.png" alt="card4.png"><br><br><br>
                  <h6 class="card-subtitle mb-2 text-muted text-center">Combien coûtent les services du CPN ?</h6><br>
                  <p class="card-text text-center">Les services du CPN sont totalement gratuits 
                    et sont entièrement financés par les agences 
                    partenaires...</p><br>
                  <a href="#" class="card-link">En savoir plus</a>

              </div>
          </div>

      </div>
      

      <div class="btn_post d-flex justify-content-center">
          <button class="btntest" routerLink="/test" >Testez votre éligibilité</button>
      </div>


  </section>

</div>
</div>